* {
  /* box-sizing: border-box;
  padding: 0;
  margin: 0; */
}

.background {
  width: 1500px;
  height: 900px;
  background-color: rgb(29, 37, 45, 1);
  padding: 20px 50px 0px 50px;
}
/* section1 */
/* .section1 {
  
} */
.sec1-top {
  background-color: rgb(52, 62, 73, 1);
  width: 1500px;
  height: 72px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}
.sec1-top-left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.mobi-logo img {
  width: 64px;
  height: 36px;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 20px;
}
.search {
  width: 180px;
  height: 36px;
  border-radius: 40px;
}
.haih {
  border-radius: 20px;
  background-color: #505050;
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
  height: 36px;
}
input:focus {
  outline: none;
  border: none;
}
.haih input {
  background-color: #505050;
  border: none;
  font-size: 18px;
}
/* .text {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
} */
/* .sec1-top-middle */
.sec1-top-middle {
  display: flex;
  gap: 15px;
  width: 320px;
  height: 20px;
  /* background-color: aquamarine; */
  margin-top: 20px;

  /* justify-content: center; */
  color: #f7f7f7;
}
.middle1 {
  display: flex;
  gap: 5px;
  /* color: #f7f7f7; */
}
/* sec1-top-right */
.sec1-top-right {
  width: 150px;
  height: 40px;
  display: flex;
  gap: 10px;
  /* align-content: center; */
  margin-top: 17px;
  margin-right: 15px;
}
.button1 {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: #ffffff1a;
  border: none;
}
.button2 {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: #ffffff1a;
  border: none;
}

.button3 {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: #ffffff1a;
  border: none;
}
/* section2 */
.section2 {
  width: 1500px;
  height: 800px;
  margin-top: 15px;
  background-image: url("https://osa.mobicom.mn/content/mcommerce/uploads/DJI_20231028181037_0240_D_MAX_Recovered_ezgif_com_jpg_to_webp_converter_d02db53f44.webp");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.fone {
  width: 1000px;
  height: 600px;
  margin: auto;
  display: flex;
  padding-top: 100px;
}

.sec2-left {
  width: 420px;
  height: 240px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  padding: 340px 50px 0px 70px;
}
.sec2-left h1 {
  width: 336px;
  height: 45px;
  color: #f7f7f7;
  font-size: 36px;
}
.doorh {
  width: 420px;
  height: 57px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  /* background-color: aquamarine; */
  margin-top: 40px;
}
.line {
  width: 168px;
  height: 6px;
  border-radius: 20px;
  background-color: #f7f7f7;
}
.doorh p {
  color: #f7f7f7;
  font-size: 20px;
}
.line-button {
  width: 24px;
  height: 24px;
  background-image: url(https://www.mobicom.mn/icons/search.svg);
}
.sec2-rigth {
  width: 750px;
  height: 600px;
  flex-direction: column;
  gap: 30px;
  /* padding: 100px 100px 0px 0px; */
}
.ar {
  width: 700px;
  height: 550px;
}
